In [2]:
#this is for loading the dataset
from sklearn.metrics import confusion_matrix , precision_score
from sklearn.model_selection import train_test_split
#from keras.layers import Dense , Dropout
#from keras.models import Sequential
#from keras.regularizers import l2
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.io import arff

In [7]:
import sklearn as sk

In [28]:
dataset = pd.read_csv('csv_result-god-class.csv')

In [32]:
y= dataset.iloc[1:len(dataset),66]

In [34]:
x= dataset.iloc[1:420,5:65]
y= dataset.iloc[1:420,66]

In [35]:
x_no_nan = x.dropna()
x_normal = sk.preprocessing.scale(x_no_nan)

In [37]:
x.head()

,NOII_type,NOAM_type,NOCS_type,NOM_type,NMO_type,ATFD_type,FANOUT_type,NOMNAMM_type,NOA_type,NIM_type,...,number_final_methods,number_abstract_methods,number_not_abstract_not_final_methods,number_static_methods,number_final_static_methods,number_final_not_static_methods,number_not_final_static_methods,number_not_final_not_static_methods,number_standard_design_methods,number_constructor_DefaultConstructor_methods
1,0,0,0,7,0.0,2,1,7,3,32.0,...,0,0,7,0,0,0,0,7,7,0
2,0,0,0,1,0.0,0,0,1,2,32.0,...,0,0,1,0,0,0,0,1,1,0
3,0,0,0,4,0.0,0,2,4,1,32.0,...,0,0,4,0,0,0,0,4,4,0
4,0,0,0,2,1.0,4,2,2,1,25.0,...,0,0,3,1,0,0,1,2,2,1
5,0,0,0,4,1.0,1,3,4,3,31.0,...,0,0,4,0,0,0,0,4,4,0

In [41]:
x_normal.std()

0.991631652042901

In [20]:
len(dataset)

420

In [21]:
round(0.6)

1